:root {
  --main-bg-color: #6070ff;
  --title-color: #172b4d;
  --sub-title-color: #344563;
  --media-color: #7f8cff;
  --main-font-family: "Poppins", sans-serif;
  --background: #f7f7f9;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
}

.logo {
  padding: 10px 12px;
  margin: 0 12px;
}

.logo-text {
  color: var(--main-bg-color);
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

.logo-text:hover {
  cursor: pointer;
}

.first-section {
  background-image: url("./images/about-image/bg_Header-Mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.img-1 {
  background-image: url("/images/about-image/multi-post-stories-project-2.png");
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.img-2 {
  background-image: url("./images/about-image/multi-post-stories-project.png");
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.img-3 {
  background-image: url("/images/about-image/tonic-project.png");
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.desc-nav {
  display: none;
}

.intro {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 52px;
  margin-left: 20px;
}

.menu-icon {
  padding: 8px;
  margin: 0 24px;
}

.about {
  color: var(--sub-title-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.social-media-title {
  text-transform: uppercase;
  color: var(--media-color);
  font-weight: 500;
  margin-left: 20px;
}

.social-media-content {
  display: flex;
  padding: 12px 0;
  margin-left: 35px;
}

ul {
  list-style-type: none;
}

.social-media-icons {
  padding-right: 20px;
}

.social-media-icons:hover,
.menu-icon:hover,
.logo:hover {
  cursor: pointer;
}

.work-card {
  width: 100%;

  /* border: 1px solid #dfe1e6; */
  border-radius: 16px;
  margin: 44px auto;
}

.project-container {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: 20px auto 20px auto;
}

.about-project {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  margin: 12px 0;
}

.project-title h4 {
  margin: 0;
  padding: 0;
  font-size: 33px;
  font-weight: 700;
}

.project-info ul {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
}

.client-name {
  color: #7a869a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.role {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.year {
  color: var(--neutral-color);
  font-weight: 600;
  font-size: 13px;
}

.counter {
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background-color: var(--dot-dolor);
}

.project-description {
  color: var(--sub-title-color);
  font-size: 15px;
  font-weight: 400;
}

.skill-list li {
  background: var(--background);
  border-radius: 8px;
  padding: 9px 0 9.72px 12px;
}

.project-description p {
  padding: 0;
  margin: 0;
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 1.5rem;
}

.tags ul li {
  background-color: #ebebff;
  margin-right: 8px;
  padding: 4px 12px;
  border-radius: 8px;
  color: var(--main-bg-color);
}

.btn-container {
  height: 72px;
  color: #396df2;
}

.view-btn {
  color: var(--btn-primary-color);
  border: 1px solid var(--main-bg-color);
  padding: 12px;
  align-items: center;
  border-radius: 8px;
  background-color: var(--white-color);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  transition: color 0.1s, background-color 0.1s;
  margin-left: 20px;
}

.view-btn:hover {
  background-color: #4053fc;
  color: #fff;
  border-color: #4053fc;
}

.submit {
  background: #fff;
  border-radius: 8px;
  width: 140px;
  height: 48px;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-size: 17px;
  font-weight: 600;
  border: none;
}

.submit:hover {
  background-color: #4053fc;
  color: #fff;
  border-color: #4053fc;
}

.skill-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.45rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  border-bottom: 1px solid #dfe1e6;
}

.skill-label-container:first-child {
  border: none;
}

.skill-label-container .label {
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
  padding: 0.75rem;
}

.skill-list li img {
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.skill-list li span {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  vertical-align: middle;
  color: #253858;
  margin-left: 1rem;
}

#reach-out {
  align-items: center;
  margin-top: 50px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #6070ff;
  background-position: right;
  border-radius: 80px 0 0 0;
  padding-bottom: 50px;
}

.contact-me {
  color: #fff;
  text-align: center;
  margin-top: 85px;
}

.cont-input {
  font-family: var(--main-font-family);
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 40px auto 0 auto;
}

.username {
  width: 100%;
  height: 48px;
  padding: 5px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 20px;
  color: #172b4d;
  font-weight: 400;
}

.email {
  width: 100%;
  height: 48px;
  padding: 5px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 20px;
  color: #172b4d;
}

.comment {
  width: 100%;
  height: 110px;
  padding: 5px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 20px;
  color: #b3bac5;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .header-info {
    width: 70%;
    margin: 200px auto;
  }

  .first-section {
    background-image: url("./images/about-image/bg_Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
  }

  .social-media-container {
    width: 100%;
    margin: auto;
  }

  .social-media-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .social-media-content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .work-card {
    background-color: #e5e5e5;
    padding-bottom: 64px;
    margin-top: 50px;
  }

  .work-card p {
    font-size: 16px;
  }

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    gap: 15px;
    background-color: #fff;
    height: 350px;
    width: 90%;
  }

  .about-project {
    margin-left: 3%;
    flex: 1;
  }

  .img-1 {
    background-image: url("./images/about-image/big1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .img-2 {
    background-image: url("./images/about-image/big2.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .img-3 {
    background-image: url("./images/about-image/big3.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .img-4 {
    background-image: url("./images/about-image/big4.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .view-btn {
    margin-left: 1px;
  }

  .middle-section {
    display: flex;
    background-color: #fff;
    border-radius: 0 80px 0 0;
    padding: 20px;
    align-content: center;
    justify-content: center;
  }

  .cont-input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .first-part {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    width: 40%;
  }

  .intro {
    color: #091e42;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .social-media-container-bottom {
    margin-top: 0;
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    margin: -25px 10px 10px 10px;
    width: 40%;
  }

  .skill-list {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .skill-list li {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
    text-align: left;
    gap: 5px;
    padding-right: 5px;
  }

  .skill-list li span {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    vertical-align: middle;
    color: #253858;
    margin-left: 1rem;
  }

  form {
    width: 50%;
    margin: auto;
  }

  .submit {
    align-self: center;
  }

  #reach-out {
    background-color: #6070ff;
  }

  .form-style {
    background-image: url("/images/about-image/contact-form-background-shapes.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    background-position: 1rem 2rem;
  }
}
